<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6840cf1a-bd31-4ccf-85d1-c873ef2ab41b/resourcegroups/Database/providers/Microsoft.Web/sites/web-backend-01</ResourceId>
    <ResourceGroup>Database</ResourceGroup>
    <ApiResourceId>/subscriptions/6840cf1a-bd31-4ccf-85d1-c873ef2ab41b/resourceGroups/Database/providers/Microsoft.ApiManagement/service/web-backendapi-01/apis/web-backend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://web-backend-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>b7219d0c-3e5b-41c1-acaa-c202e35e6070</ProjectGuid>
    <PublishUrl>https://web-backend-01.scm.azurewebsites.net/</PublishUrl>
    <UserName>$web-backend-01</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>